<section class="about-me">
  <h3>Ivan Poberezhniuk</h3>
  <p>
    <br />
    <span
      ><a href="mailto: vanyapoberejnuk@gmail.com"
        >vanyapoberejnuk@gmail.com</a
      ></span
    >
    <br />
    <span
      ><a href="https://www.linkedin.com/in/ivan-poberezhnyuk-836802153/"
        >LinkeIn</a
      ></span
    >
    <br />
    <br />
    &#9; Dear reader, I’m interested in employment on position Junior Front-End
    Developer, to work together with team. Here is a brief look at my skills and
    experience that I believe makes me a good match for this position. I am well
    versed in HTML, CSS and JavaScript. Also, I am well versed in Angullar/React
    frameworks. I am a hardworking and enthusiastic person who enjoys challenges
    and achievements. Get on well with people at all levels, easily making good
    working relationships. I’m keen to develop my professional skills and look
    forward to discussing my application with you at an interview. I have
    enclosed a copy of my resume for your consideration. I can be contacted at
    all times on the details provided above. Thanking you in advance for your
    time,
    <br />
    <br />
    Looking forward to your feedback,
    <br />
    <br />
    Good luck!
  </p>
</section>
